# macOS
.DS_Store

# Node
node_modules/
npm-debug.log

# Environment variables
.env

# Build output
dist/
build/
uploads/
.test-uploads/
playwright-report/
test-results/
coverage/

# IDE
.idea/
.vscode/
.DS_Store
